.container {
  background-color: white;
  width: 90vw;
  margin-left: 5vw;
  border-radius: 12px;
  display: flex;
  align-items: center;
  padding: 1em;
  justify-content: space-around;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  margin-bottom: 1em;

  .cart_count {
    margin: 0;
  }

  .checkout_btn {
  }
}
